.App {
  width: 70%;
  margin: 0 auto;
}

.wrapper {
  margin: 0px auto;
  justify-content: space-evenly;
}
a {
  text-decoration: none;
  color: #bec4c8;
}

button:hover,
a:hover {
  cursor: pointer;
  text-decoration: none;
}

